.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-family: helvetica, arial, sans-serif;
  color: white;
  grid-template-areas:
  "hover"
  "disabled"
  ;
  height: 500px;
}
.hoverMe {
  grid-area: hover;
  background-color: red;
  color: white;
  width: 150px;
  text-align: center;
  height: 50px;
  transition: 0.3s
  /* Add the css property transition here! */
}
/* active state */
.hoverMe:hover {
  /* Add your hover state css here. */
  transition: all 0.5s ease-out;
  background-color: pink;
  transform: scale(2,4) ;
  transform: rotate(2deg);
  text-transform: uppercase;
  text-decoration: underline;
  border-radius: 50px;
  content: "blah";
  content: " ("attr(hred)") ";
  background-image: url("");
}
